.header--mobile {
    display: none;
}

#header-mobile {
    display: none;
}

/* header top start */
.header__header-top {
    background-color: #1e1d23;
    height: 35px;
    color: white;
    font-size: 15px;
}


.header-top__contact {
    display: flex;
    line-height: 35px;

}

.header-top__contact i {
    margin-right: 10px;
}

.header-top__contact div:first-child {
    margin-right: 40px;
}

.header-top__social-list {
    display: flex;
    line-height: 35px;
    margin-left: auto;
}

.header-top__social-list  .social-item:not(:first-child) {
    margin-left: 20px;
}

/* header top end */


/* header__header-nav start */

.header__header-nav {
    min-height: 80px;
    box-shadow: 1px 1px 5px black;
    padding: 20px;
   
}

.header__header-nav.scroll {
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    min-height: 80px;
    position: fixed;
    z-index: 99;
    padding: 16px;
    animation: toTop 1s ease;
}

.header__header-nav .row {
    justify-content: space-between;
    align-items: center;
    
    
}
.header__header-nav .header__logo {
    width: 125px;

}

.header-menu__item {
    display: inline-block;
}

.header-menu__item__link {
    color: var(--heading);
    font-weight: 600;
    padding: 0 12px;
    display: block;
}

.header-menu__item__link:hover {
    color: rgb(255, 157, 0);
}

.header__phone-order {
    display: flex;
    align-items: center;
}

.header__phone-order .img {
    font-size: 35px;
    color: var(--secondary);
    margin-right: 16px;
}

.header__phone-order__heading {
    font-size: 13px;
    color: var(--light-gray);
}

.header__phone-order__phone {
    font-size: 24px;
    color: var(--primary);
    word-spacing: -5px;
    font-weight: 600;
}

.header__feature {
    display: flex;
}

.header__feature__item:not(:last-child) {
    margin-right: 20px;
}

.header__feature__item a {
    display: block;
    width: 46px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--border);
}

.header__feature__item a:hover {
    background-color: var(--primary);
}

.header__feature__item i {
    color: black;
    font-size: 20px;
}

.header__cart__count-item {
    display: block;
    font-size: 12px;
    color: white;
    background-color: var(--secondary);
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    top: 0px;
    right: 0px;
}


#header__cart {
    position: relative;
}
/* header__header-nav end */

.cart__container{
    margin-top: 60px;

}

.cart__container-content {
    margin: 0 auto;
    max-width: 800px;
    position: relative;
}
.cart__title {
    text-transform: uppercase;
    text-align: center;
}

table {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 1000px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid var(--border);
    border-collapse: collapse;
    
}

thead {
    background-color: #bbb;
}

th {
    padding: 14px;
}

td {
    padding: 10px 30px;
}

table img {
    min-width: 120px;
    height: 100px;
    object-fit: cover;
}

table tr td:not(:nth-child(2)) {
    text-align: center;
}

table td input {
    width: 60px;
    text-align: center;
    padding: 4px 10px;
    font-size: 16px;
}

#table-body tr:nth-child(even) {
    background-color: #ddd;
}


#table-foot {
    font-weight: bold;
}

.cart__container .button.order {
    padding: 18px 40px;
    border-radius: 4px;
    color: white;
    background-color: #338dbc;
    filter: brightness(1.2);
    position: absolute;
    right: 0;

}

.cart__container .button.order:hover {
    filter: brightness(1);
}

#none {
    margin-top: 300px;
}


#cart-info {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.226);
    z-index: 200;
    display: none;
}

#cart-info .cart-info__content {
    padding: 20px;
    width: 600px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0px 2px 6px black;
}

.cart__info-header {
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;

}
.cart__info-header i {
    display: block;
    margin-left: auto;
    color: #ccc;
    font-size: 26px;
    cursor: pointer;
}

.cart__info-header i:hover {
    color: black;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    font-size: 17px;
    width: 100%;
    border-radius: 4px;
}

.form-control:focus {
    box-shadow: 0 0 4px #338dbc;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.form-group.two-third {
    width: 66.66667%;
    margin-right: 15px;
}

.form-group.third {
    width: 33.33333%;
}

.form-group.half {
    width: 48%;
}

.wrapper label {
    position: absolute;
    top: 0;
    font-size: 13px;
    color: #999999;
    padding-left: 12px;
    margin-top: 4px;
}

.form-group select {
    border: 1px solid #ccc;
    outline: none;
    padding-top: 22px;
    padding-bottom: 4px;
    padding-left: 8px;
    width: 100%;
    font-size: 15px;
}

.form-group select:focus {
    box-shadow: 0 0 4px #338dbc;

}

#cart-info .button {
    padding: 14px 50px;
    border-radius: 4px;
    color: white;
    background-color: #338dbc;
    filter: brightness(1.2);

}

#cart-info  .button:hover {
    filter: brightness(1);
}


#cart-info.active {
    display: block;
    opacity: 1;
    animation: fadein1 ease 0.8s;
}
table.empty {
    display: none;
}

table.empty img.empty-cart {
    width: 200px;
    height: 200px;
}

table.empty,
table.empty th {
    border: none;
}
table.empty th {
    padding: 0 50px;

}
table.empty .button {
    color: white;
}